html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.eot");
  src: url("../fonts/Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.svg#Poppins-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.eot");
  src: url("../fonts/Poppins-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Light.woff2") format("woff2"), url("../fonts/Poppins-Light.woff") format("woff"), url("../fonts/Poppins-Light.svg#Poppins-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.eot");
  src: url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.svg#Poppins-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.eot");
  src: url("../fonts/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.svg#Poppins-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.main-page-container .another-container, header .header-container {
  max-width: 1059px;
  width: 100%;
  margin: 0 auto;
}

footer .footer-container, .fash-container, .categ-container {
  max-width: 1148px;
  width: 100%;
  margin: 0 auto;
}

.categ-right-block .categ-img .categ-title-block:hover, .categ-right-block .categ-img .categ-title-block, .main-title-block .boxs .title-box:hover, .main-title-block .boxs .title-box, header .header-container .nav .nav-ul li:hover, header .header-container .nav .nav-ul li, header .header-container .logo:hover, header .header-container .logo {
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.footer-right-block .list-block, .avone-container .avone-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.avone-block .avone-right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.contact-wrapper .form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-right-block .list-block .list-box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header {
  padding-top: 26px;
  margin-bottom: 18px;
}
header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  header .header-container {
    padding-inline: 20px;
  }
}
header .header-container .logo {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 29px;
  color: #22262A;
  padding: 5px;
}
header .header-container .logo:hover {
  background-color: #22262A;
  color: #FFFFFF;
}
header .header-container .nav {
  max-width: 637px;
  width: 100%;
}
@media (max-width: 768px) {
  header .header-container .nav {
    display: none;
  }
}
header .header-container .nav .nav-ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-container .nav .nav-ul li {
  font-family: "Poppins";
  font-weight: normal;
  font-size: 18px;
  color: #22262A;
  padding: 5px;
}
header .header-container .nav .nav-ul li:hover {
  background-color: #22262A;
  color: #FFFFFF;
}
header .header-container .burger-icon {
  display: none;
  font-size: 30px;
}
@media (max-width: 768px) {
  header .header-container .burger-icon {
    display: block;
  }
}

.main-page-container {
  background-image: url(../images/bg-image.jpg);
  width: 100%;
  height: 90vh;
  background-position: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .main-page-container {
    background-position: 35%;
  }
}
.main-page-container .another-container {
  margin-top: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 1024px) {
  .main-page-container .another-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 480px) {
  .main-page-container .another-container {
    padding-inline: 20px;
  }
}
.main-page-container .another-container .main-title-block {
  max-width: 452px;
  width: 100%;
  height: 226px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-title-block h3 {
  font-family: "Poppins";
  font-weight: normal;
  font-size: 18px;
  color: #22262A;
}
.main-title-block h1 {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 80px;
  color: #22262A;
}
@media (max-width: 768px) {
  .main-title-block h1 {
    font-size: 40px;
  }
}
.main-title-block .boxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-title-block .boxs .title-box {
  max-width: 132px;
  width: 100%;
  height: 41px;
  background-color: #22262A;
  font-family: "Poppins";
  font-weight: normal;
  font-size: 18px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.main-title-block .boxs .title-box:nth-child(1) {
  margin-right: 37px;
}
.main-title-block .boxs .title-box:hover {
  background-color: #FFFFFF;
  color: #22262A;
}

.categ-container {
  margin-top: 120px;
  height: 584px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (max-width: 1118px) {
  .categ-container {
    height: auto;
  }
}
@media (max-width: 1119px) {
  .categ-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.categ-container .categ-left-block {
  max-width: 559px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
@media (max-width: 530px) {
  .categ-container .categ-left-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.categ-left-block .categ-img img:nth-child(1) {
  max-width: 559px;
  width: 100%;
}

.categ-right-block {
  height: 100%;
  max-width: 559px;
  width: 100%;
}
.categ-right-block .categ-img {
  background-image: url(../images/categ/categ-img2.jpg);
  background-size: cover;
  background-position: right;
  height: 582px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 20px 20px;
}
.categ-right-block .categ-img .categ-title-block {
  width: 197px;
  height: 41px;
  background-color: #FAFAFA;
  font-family: "Poppins";
  font-weight: normal;
  font-size: 18px;
  color: #22262A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.categ-right-block .categ-img .categ-title-block:hover {
  background-color: #22262A;
  color: #FAFAFA;
}

.fash-container {
  margin-top: 113px;
  height: 608px;
}
@media (max-width: 1118px) {
  .fash-container {
    height: auto;
  }
}
@media (max-width: 1072px) {
  .fash-container {
    padding-inline: 200px;
  }
}
@media (max-width: 680px) {
  .fash-container {
    padding-inline: 100px;
  }
}
.fash-container .fash-title-block {
  width: 100%;
  text-align: center;
  margin-bottom: 55px;
}
.fash-container .shop-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (max-width: 680px) {
  .fash-container .shop-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.fash-title-block h3 {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 20px;
  color: #22262A;
  margin-bottom: 6px;
}
.fash-title-block h4 {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 15px;
  color: #22262A;
}

.shop-container .shop-block {
  width: 268px;
  height: 486px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 1072px) {
  .shop-container .shop-block {
    margin-top: 20px;
  }
}
.shop-container .shop-block h6 {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 12px;
  color: #22262A;
}
.shop-container .shop-block h3 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 15px;
  color: #22262A;
}
.shop-container .shop-block h4 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 15px;
  color: #CF2929;
  text-decoration: none;
}
.shop-container .shop-block h4 span {
  color: #373737;
  font-weight: normal;
  text-decoration: line-through;
}

.avone-container {
  max-width: 1161px;
  width: 100%;
  margin: 0 auto;
  margin-top: 106px;
  height: 792px;
}
@media (max-width: 1148px) {
  .avone-container {
    height: auto;
  }
}
.avone-container .avone-title-block {
  width: 100%;
  text-align: center;
}
.avone-container .avone-block {
  width: 100%;
  margin-top: 55px;
  height: 682px;
}
@media (max-width: 1148px) {
  .avone-container .avone-block {
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.avone-title-block h3 {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 20px;
  color: #22262A;
}
.avone-title-block h4 {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 15px;
  color: #22262A;
  margin-top: 6px;
}

.avone-block .avone-img {
  margin-top: 64px;
}
.avone-block .avone-img img {
  max-width: 558px;
  width: 100%;
}

.avone-block .avone-right-block {
  height: 100%;
  max-width: 578px;
  width: 100%;
}
@media (max-width: 500px) {
  .avone-block .avone-right-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.avone-block .avone-right-block .avone-img:nth-child(1) {
  margin-right: 64px;
  margin-top: 0px;
  height: 451px;
}
@media (max-width: 500px) {
  .avone-block .avone-right-block .avone-img:nth-child(1) {
    margin: 0px;
  }
}
.avone-block .avone-right-block .avone-img:nth-child(2) {
  width: 257px;
  height: 316px;
  background-color: #FFFFFF;
  padding: 19px 13px 16px 17px;
  position: relative;
  z-index: 1;
  margin-top: -85px;
  margin-right: 0px;
}
@media (max-width: 500px) {
  .avone-block .avone-right-block .avone-img:nth-child(2) {
    margin: 0px;
    margin-top: -185px;
  }
}
.avone-block .avone-right-block .avone-text {
  font-family: "Poppins";
  font-weight: normal;
  font-size: 15px;
  color: #22262A;
  text-decoration: underline;
  height: 21px;
  margin-right: 15px;
  margin-top: 148px;
}
@media (max-width: 500px) {
  .avone-block .avone-right-block .avone-text {
    margin: 0px;
    margin-left: 20px;
  }
}

.contact-container {
  max-width: 1006px;
  width: 100%;
  margin: 0 auto;
  margin-top: 147px;
}
.contact-container .contact-title {
  width: 100%;
  text-align: center;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 20px;
  color: #22262A;
}
.contact-container .contact-wrapper {
  width: 100%;
  margin-top: 65px;
  height: 532px;
}
@media (max-width: 810px) {
  .contact-container .contact-wrapper {
    height: auto;
  }
}

.contact-wrapper .form-wrapper {
  width: 100%;
  height: 100%;
}
@media (max-width: 810px) {
  .contact-wrapper .form-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-inline: 20px;
  }
}
.contact-wrapper .form-wrapper .input-wrapper {
  max-width: 404px;
  width: 100%;
  height: 64px;
  border: 1px solid #E8E8E8;
  border-radius: 6px;
  padding-left: 15px;
  margin-bottom: 48px;
  font-family: "Poppins";
  font-weight: normal;
  font-size: 19px;
  color: #939393;
}
.contact-wrapper .form-wrapper .input-wrapper::-webkit-input-placeholder {
  font-family: "Poppins";
  font-weight: normal;
  font-size: 19px;
  color: #939393;
}
.contact-wrapper .form-wrapper .input-wrapper::-moz-placeholder {
  font-family: "Poppins";
  font-weight: normal;
  font-size: 19px;
  color: #939393;
}
.contact-wrapper .form-wrapper .input-wrapper:-ms-input-placeholder {
  font-family: "Poppins";
  font-weight: normal;
  font-size: 19px;
  color: #939393;
}
.contact-wrapper .form-wrapper .input-wrapper::-ms-input-placeholder {
  font-family: "Poppins";
  font-weight: normal;
  font-size: 19px;
  color: #939393;
}
.contact-wrapper .form-wrapper .input-wrapper::placeholder {
  font-family: "Poppins";
  font-weight: normal;
  font-size: 19px;
  color: #939393;
}
.contact-wrapper .form-wrapper .textarea {
  width: 100%;
  height: 147px;
  resize: none;
  border: 1px solid #E8E8E8;
  border-radius: 6px;
  padding-left: 15px;
  font-family: "Poppins";
  font-weight: normal;
  font-size: 19px;
  color: #939393;
}
.contact-wrapper .form-wrapper .textarea::-webkit-input-placeholder {
  font-family: "Poppins";
  font-weight: normal;
  font-size: 19px;
  color: #939393;
}
.contact-wrapper .form-wrapper .textarea::-moz-placeholder {
  font-family: "Poppins";
  font-weight: normal;
  font-size: 19px;
  color: #939393;
}
.contact-wrapper .form-wrapper .textarea:-ms-input-placeholder {
  font-family: "Poppins";
  font-weight: normal;
  font-size: 19px;
  color: #939393;
}
.contact-wrapper .form-wrapper .textarea::-ms-input-placeholder {
  font-family: "Poppins";
  font-weight: normal;
  font-size: 19px;
  color: #939393;
}
.contact-wrapper .form-wrapper .textarea::placeholder {
  font-family: "Poppins";
  font-weight: normal;
  font-size: 19px;
  color: #939393;
}
.contact-wrapper .form-wrapper .button-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 79px;
}
.contact-wrapper .form-wrapper .button-wrapper .button {
  width: 203px;
  height: 63px;
  border-radius: 31px;
  background-color: #B57AD2;
  border: none;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 20px;
  color: #FFFFFF;
  cursor: pointer;
}

footer {
  background-color: #F2F8FC;
  margin-top: 74px;
  padding-top: 117px;
}
footer .footer-container {
  height: 352px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (max-width: 1044px) {
  footer .footer-container {
    height: auto;
  }
}
footer .footer-container-copy {
  width: 100%;
  height: 82px;
  background-color: #E7F5F8;
  margin-top: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer-container-copy h3 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 20px;
  color: #22262A;
}

.footer-container .footer-left-block {
  max-width: 412px;
  width: 100%;
  height: 100%;
  padding-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-container .footer-right-block {
  max-width: 612px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-left-block .footer-description-block .footer-logo {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 22px;
  color: #22262A;
}
.footer-left-block .footer-description-block .footer-description {
  font-family: "Poppins";
  font-weight: normal;
  font-size: 15px;
  color: #22262A;
  line-height: 18px;
  margin-top: 12px;
}
.footer-left-block .footer-contact-block {
  height: 136px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-left-block .footer-contact-block .address-box {
  font-family: "Poppins";
  font-weight: normal;
  font-size: 15px;
  color: #22262A;
}
.footer-left-block .footer-contact-block .footer-contact-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-left-block .footer-contact-block .footer-contact-box a {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 15px;
  color: #22262A;
}
.footer-left-block .footer-contact-block .footer-contact-box a:nth-child(1)::after {
  content: " ";
  display: block;
  width: 134px;
  height: 1px;
  background-color: #22262A;
  margin: 3px 0px;
}
.footer-left-block .footer-contact-block .footer-icons {
  width: 148px;
  height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-right-block .email-block h3 {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 22px;
  color: #22262A;
  margin-left: 10px;
}
.footer-right-block .email-block form .email-form-wrapper {
  max-width: 602px;
  width: 100%;
  height: 46px;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  margin-top: 15px;
  position: relative;
}
.footer-right-block .email-block form .email-form-wrapper .email-input {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
  padding-left: 22.5px;
  font-family: "Poppins";
  font-weight: normal;
  font-size: 15px;
  color: #939393;
}
.footer-right-block .email-block form .email-form-wrapper .email-input::-webkit-input-placeholder {
  font-family: "Poppins";
  font-weight: normal;
  font-size: 15px;
  color: #939393;
}
.footer-right-block .email-block form .email-form-wrapper .email-input::-moz-placeholder {
  font-family: "Poppins";
  font-weight: normal;
  font-size: 15px;
  color: #939393;
}
.footer-right-block .email-block form .email-form-wrapper .email-input:-ms-input-placeholder {
  font-family: "Poppins";
  font-weight: normal;
  font-size: 15px;
  color: #939393;
}
.footer-right-block .email-block form .email-form-wrapper .email-input::-ms-input-placeholder {
  font-family: "Poppins";
  font-weight: normal;
  font-size: 15px;
  color: #939393;
}
.footer-right-block .email-block form .email-form-wrapper .email-input::placeholder {
  font-family: "Poppins";
  font-weight: normal;
  font-size: 15px;
  color: #939393;
}
.footer-right-block .email-block form .email-form-wrapper .email-btn {
  position: absolute;
  top: 10px;
  right: 21px;
  z-index: 2;
  border: none;
  background-color: inherit;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 17px;
  color: #22262A;
  cursor: pointer;
}

.footer-right-block .list-block {
  width: 100%;
  height: 181px;
  padding-right: 10px;
}
@media (max-width: 1044px) {
  .footer-right-block .list-block {
    height: auto;
    margin-top: 30px;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
  }
}
.footer-right-block .list-block .list-box h3 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 22px;
  color: #22262A;
  margin-bottom: 25px;
}
.footer-right-block .list-block .list-box ul {
  height: 125px;
}
@media (max-width: 390px) {
  .footer-right-block .list-block .list-box ul {
    padding: 20px;
  }
}
.footer-right-block .list-block .list-box ul li {
  font-family: "Poppins";
  font-weight: normal;
  font-size: 15px;
  color: #22262A;
}/*# sourceMappingURL=global.css.map */