html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.eot");
  src: url("../fonts/Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.svg#Poppins-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.eot");
  src: url("../fonts/Poppins-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Light.woff2") format("woff2"), url("../fonts/Poppins-Light.woff") format("woff"), url("../fonts/Poppins-Light.svg#Poppins-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.eot");
  src: url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.svg#Poppins-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.eot");
  src: url("../fonts/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.svg#Poppins-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.main-page-container .another-container, header .header-container {
  max-width: 1059px;
  width: 100%;
  margin: 0 auto;
}

.categ-container {
  max-width: 1148px;
  width: 100%;
  margin: 0 auto;
}

.categ-right-block .categ-img .categ-title-block:hover, .categ-right-block .categ-img .categ-title-block, .main-title-block .boxs .title-box:hover, .main-title-block .boxs .title-box, header .header-container .nav .nav-ul li:hover, header .header-container .nav .nav-ul li, header .header-container .logo:hover, header .header-container .logo {
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

header {
  padding-top: 26px;
  margin-bottom: 18px;
}
header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  header .header-container {
    padding-inline: 20px;
  }
}
header .header-container .logo {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 29px;
  color: #22262A;
  padding: 5px;
}
header .header-container .logo:hover {
  background-color: #22262A;
  color: #FFFFFF;
}
header .header-container .nav {
  max-width: 637px;
  width: 100%;
}
@media (max-width: 768px) {
  header .header-container .nav {
    display: none;
  }
}
header .header-container .nav .nav-ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-container .nav .nav-ul li {
  font-family: "Poppins";
  font-weight: normal;
  font-size: 18px;
  color: #22262A;
  padding: 5px;
}
header .header-container .nav .nav-ul li:hover {
  background-color: #22262A;
  color: #FFFFFF;
}
header .header-container .burger-icon {
  display: none;
  font-size: 30px;
}
@media (max-width: 768px) {
  header .header-container .burger-icon {
    display: block;
  }
}

.main-page-container {
  background-image: url(../images/bg-image.jpg);
  width: 100%;
  height: 90vh;
  background-position: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .main-page-container {
    background-position: 35%;
  }
}
.main-page-container .another-container {
  margin-top: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 1024px) {
  .main-page-container .another-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.main-page-container .another-container .main-title-block {
  max-width: 452px;
  width: 100%;
  height: 226px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-title-block h3 {
  font-family: "Poppins";
  font-weight: normal;
  font-size: 18px;
  color: #22262A;
}
.main-title-block h1 {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 80px;
  color: #22262A;
}
@media (max-width: 768px) {
  .main-title-block h1 {
    font-size: 40px;
  }
}
.main-title-block .boxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-title-block .boxs .title-box {
  max-width: 132px;
  width: 100%;
  height: 41px;
  background-color: #22262A;
  font-family: "Poppins";
  font-weight: normal;
  font-size: 18px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.main-title-block .boxs .title-box:nth-child(1) {
  margin-right: 37px;
}
.main-title-block .boxs .title-box:hover {
  background-color: #FFFFFF;
  color: #22262A;
}

.categ-container {
  margin-top: 120px;
  height: 584px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (max-width: 1024px) {
  .categ-container {
    height: auto;
  }
}
@media (max-width: 1119px) {
  .categ-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.categ-container .categ-left-block {
  max-width: 559px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
@media (max-width: 530px) {
  .categ-container .categ-left-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.categ-left-block .categ-img img:nth-child(1) {
  max-width: 559px;
  width: 100%;
}

.categ-right-block {
  height: 100%;
  max-width: 559px;
  width: 100%;
}
.categ-right-block .categ-img {
  background-image: url(../images/categ/categ-img2.jpg);
  background-size: cover;
  background-position: right;
  height: 582px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 20px 20px;
}
.categ-right-block .categ-img .categ-title-block {
  width: 197px;
  height: 41px;
  background-color: #FAFAFA;
  font-family: "Poppins";
  font-weight: normal;
  font-size: 18px;
  color: #22262A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.categ-right-block .categ-img .categ-title-block:hover {
  background-color: #22262A;
  color: #FAFAFA;
}/*# sourceMappingURL=global.css.map */