@mixin font ($family,$weight,$size,$color) {
    font-family: $family;
    font-weight: $weight;
    font-size: $size;
    color: $color;
}
@mixin d-flex ($display,$justify,$align){
    display: $display;
    justify-content: $justify;
    align-items: $align;
}
@mixin d-flex-full ($display,$justify,$align,$wrap,$direction){
    display: $display;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
    flex-direction: $direction;
}
@mixin bg ($position,$size,$repeat){
    background-position: $position;
    background-size: $size;
    background-repeat: $repeat;
}