%headerwidth{
    max-width: $headmax;
    width: $sizewid;
    margin: 0 auto;
}
%contwidth{
    max-width: $sizemax;
    width: $sizewid;
    margin: 0 auto;
}
%transition{
    transition: all 500ms ease-in-out;
}
%d-flex-for-avone{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
%d-flex-for-right-block{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
%d-flex-for-contact{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}
%d-flex-for-ul{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}