header{
    padding-top: 26px;
    margin-bottom: 18px;
    .header-container{
        @extend %headerwidth;
        @include d-flex(flex,space-between,center); 
        @media (max-width:$mobile) {
            padding-inline: 20px;
        }
        .logo{
            @include font($fontpop,bold,29px,$black);
            padding: 5px;
            @extend %transition;
            &:hover{
                background-color: $black;
                color: $white;
                @extend %transition;
            }
        }
        .nav{
            max-width: 637px;
            width: $sizewid;
            @media (max-width:$mobile) {
                display: none;
            }
            .nav-ul{
                width: $sizewid;
                @include d-flex(flex,space-between,center);
                li{
                    @include font($fontpop,normal,18px,$black);
                    @extend %transition;
                    padding: 5px;
                    &:hover{
                        background-color: $black;
                        color: $white;
                        @extend %transition;
                    }
                }
            }
        }
        .burger-icon{
            display: none;
            font-size: 30px;
            @media (max-width:$mobile){
                display: block;
            }
        }
    }
}
// mainpage
.main-page-container{
    background-image: url(../images/bg-image.jpg);
    width: $sizewid;
    height: 90vh;
    @include bg (30%,cover,no-repeat);
    @include d-flex(flex,space-between,center);
    @media (max-width:$mobile) {
        background-position: 35%;
    }
    .another-container{
        @extend %headerwidth;
        margin-top:15%;
        display: flex;
        justify-content: flex-end;
        @media (max-width:$tablet) {
            justify-content: center;
        }
        @media (max-width:480px) {
            padding-inline: 20px;
        }
        .main-title-block{
            max-width: 452px;
            width: $sizewid;
            height: 226px;
            @include d-flex-full (flex,space-between,space-between,wrap,column);
        }
    }    
}
.main-title-block{
    h3{
        @include font($fontpop,normal,18px,$black);
    }
    h1{
        @include font($fontpop,bold,80px,$black);
        @media (max-width:$mobile) {
            font-size: 40px;
        }
    }
    .boxs{
        display: flex;
        .title-box{
            max-width: 132px;
            width: $sizewid;
            height: 41px;
            background-color: $black;
            @include font($fontpop,normal,18px,$white);
            @include d-flex (flex,center,center);
            @extend %transition;
            cursor: pointer;
            &:nth-child(1){
                margin-right: 37px;
            }
            &:hover{
                background-color: $white;
                color: $black;
                @extend %transition;
            }
        }
    }
}
// category page
.categ-container{
    @extend %contwidth;
    margin-top: 120px;
    height: 584px;
    @include d-flex-full (flex,space-between,start,wrap,row);
    @media (max-width:1024px) {
        height: auto;
    }
    @media (max-width:1119px) {
        justify-content: center;
    }
    .categ-left-block{
        max-width: 559px;
        width: $sizewid;
        height: $sizewid;
        @include d-flex-full(flex,space-between,space-between,wrap,row);
        align-content: space-between;
        @media (max-width:530px) {
            justify-content: center;
        }
    }

}
.categ-left-block{
    .categ-img{
        img{
            &:nth-child(1){
                max-width: 559px;
                width: $sizewid;
            }
        }
    }
}
.categ-right-block{
    height: $sizewid;
    max-width: 559px;
    width: $sizewid;
    .categ-img{
        background-image: url(../images/categ/categ-img2.jpg);
        background-size: cover;
        background-position: right;
        height: 582px;
        width: $sizewid;
        @include d-flex(flex,flex-start,flex-end);
        padding:20px 20px;
        .categ-title-block{
            width: 197px;
            height: 41px;
            background-color: $lightwhite;
            @include font ($fontpop,normal,18px,$black);
            @include d-flex(flex,center,center);
            @extend %transition;
            cursor: pointer;
            &:hover{
                background-color: $black;
                color: $lightwhite;
                @extend %transition;
            }
        }
    }
}