header{
    padding-top: 26px;
    margin-bottom: 18px;
    .header-container{
        @extend %headerwidth;
        @include d-flex(flex,space-between,center); 
        @media (max-width:$mobile) {
            padding-inline: 20px;
        }
        .logo{
            @include font($fontpop,bold,29px,$black);
            padding: 5px;
            @extend %transition;
            &:hover{
                background-color: $black;
                color: $white;
                @extend %transition;
            }
        }
        .nav{
            max-width: 637px;
            width: $sizewid;
            @media (max-width:$mobile) {
                display: none;
            }
            .nav-ul{
                width: $sizewid;
                @include d-flex(flex,space-between,center);
                li{
                    @include font($fontpop,normal,18px,$black);
                    @extend %transition;
                    padding: 5px;
                    &:hover{
                        background-color: $black;
                        color: $white;
                        @extend %transition;
                    }
                }
            }
        }
        .burger-icon{
            display: none;
            font-size: 30px;
            @media (max-width:$mobile){
                display: block;
            }
        }
    }
}
// mainpage
.main-page-container{
    background-image: url(../images/bg-image.jpg);
    width: $sizewid;
    height: 90vh;
    @include bg (30%,cover,no-repeat);
    @include d-flex(flex,space-between,center);
    @media (max-width:$mobile) {
        background-position: 35%;
    }
    .another-container{
        @extend %headerwidth;
        margin-top:15%;
        display: flex;
        justify-content: flex-end;
        @media (max-width:$tablet) {
            justify-content: center;
        }
        @media (max-width:480px) {
            padding-inline: 20px;
        }
        .main-title-block{
            max-width: 452px;
            width: $sizewid;
            height: 226px;
            @include d-flex-full (flex,space-between,space-between,wrap,column);
        }
    }    
}
.main-title-block{
    h3{
        @include font($fontpop,normal,18px,$black);
    }
    h1{
        @include font($fontpop,bold,80px,$black);
        @media (max-width:$mobile) {
            font-size: 40px;
        }
    }
    .boxs{
        display: flex;
        .title-box{
            max-width: 132px;
            width: $sizewid;
            height: 41px;
            background-color: $black;
            @include font($fontpop,normal,18px,$white);
            @include d-flex (flex,center,center);
            @extend %transition;
            cursor: pointer;
            &:nth-child(1){
                margin-right: 37px;
            }
            &:hover{
                background-color: $white;
                color: $black;
                @extend %transition;
            }
        }
    }
}
// category page
.categ-container{
    @extend %contwidth;
    margin-top: 120px;
    height: 584px;
    @include d-flex-full (flex,space-between,start,wrap,row);
    @media (max-width:1118px) {
        height: auto;
    }
    @media (max-width:1119px) {
        justify-content: center;
    }
    .categ-left-block{
        max-width: 559px;
        width: $sizewid;
        height: $sizewid;
        @include d-flex-full(flex,space-between,space-between,wrap,row);
        align-content: space-between;
        @media (max-width:530px) {
            justify-content: center;
        }
    }

}
.categ-left-block{
    .categ-img{
        img{
            &:nth-child(1){
                max-width: 559px;
                width: $sizewid;
            }
        }
    }
}
.categ-right-block{
    height: $sizewid;
    max-width: 559px;
    width: $sizewid;
    .categ-img{
        background-image: url(../images/categ/categ-img2.jpg);
        background-size: cover;
        background-position: right;
        height: 582px;
        width: $sizewid;
        @include d-flex(flex,flex-start,flex-end);
        padding:20px 20px;
        .categ-title-block{
            width: 197px;
            height: 41px;
            background-color: $lightwhite;
            @include font ($fontpop,normal,18px,$black);
            @include d-flex(flex,center,center);
            @extend %transition;
            cursor: pointer;
            &:hover{
                background-color: $black;
                color: $lightwhite;
                @extend %transition;
            }
        }
    }
}
// fashion page
.fash-container{
    @extend %contwidth;
    margin-top: 113px;
    height: 608px;
    @media (max-width:1118px) {
        height: auto;
    }
    @media (max-width:1072px) {
        padding-inline: 200px;
    }
    @media (max-width:680px) {
        padding-inline: 100px;
    }
    .fash-title-block{
        width: $sizewid;
        text-align: center;
        margin-bottom: 55px;
    }
    .shop-container{
        width: $sizewid;
        @include d-flex(flex,space-between,center);
        @include d-flex-full (flex,space-between,center,wrap,row);
        @media (max-width:680px) {
            justify-content: center;
        }
    }
}
.fash-title-block{
    h3{
        @include font($fontpop,bold,20px,$black);
        margin-bottom: 6px;
    }
    h4{
        @include font($fontpop,300,15px,$black);
    }
}
.shop-container{
    .shop-block{
        width: 268px;
        height: 486px;
        flex-direction: column;
        @include d-flex(flex,space-between,flex-start);
        @media (max-width:1072px){
            margin-top: 20px;
        }
        h6{
            @include font($fontpop,300,12px,$black);
        }
        h3{
            @include font($fontpop,600,15px,$black);
        }
        h4{
            @include font($fontpop,600,15px,$red);
            text-decoration: none;
            span{
                color: $lightblack;
                font-weight: normal;
                text-decoration:line-through;
            }
        }
    }
}
// avone styles page
.avone-container{
    max-width: 1161px;
    width: $sizewid;
    margin: 0 auto;
    margin-top: 106px;
    height: 792px;
    @media (max-width:1148px) {
        height: auto;
    }
    .avone-title-block{
        width: $sizewid;
        text-align: center;
    }
    .avone-block{
        width: $sizewid;
        margin-top: 55px;
        height: 682px;
        @extend %d-flex-for-avone;
        @media (max-width:1148px) {
            height: auto;
            justify-content: center;
        }
    }

}
.avone-title-block{
    h3{
        @include font($fontpop,bold,20px,$black);
    }
    h4{
        @include font ($fontpop,300,15px,$black);
        margin-top: 6px;
    }
}
.avone-block{
    .avone-img{
        margin-top: 64px;
        img{
            max-width: 558px;
            width: 100%;
        }
    }
}
.avone-block{
    .avone-right-block{
        height: $sizewid;
        max-width: 578px;
        width: 100%;
        @extend %d-flex-for-right-block;
        @media (max-width:500px) {
            justify-content: center;
            flex-direction: column;
        }
        .avone-img{
            &:nth-child(1){
                margin-right: 64px;
                margin-top: 0px;
                height: 451px;
                @media (max-width:500px){
                    margin: 0px;
                }
            }
            &:nth-child(2){
                width: 257px;
                height: 316px;
                background-color: $white;
                padding:19px 13px 16px 17px;
                position: relative;
                z-index: 1;
                margin-top: -85px;
                margin-right: 0px;
                @media (max-width:500px){
                    margin: 0px;
                    margin-top: -185px;
                }
            }
        }
        .avone-text{
            @include font($fontpop,normal,15px,$black);
            text-decoration: underline;
            height: 21px;
            margin-right:15px;
            margin-top: 148px;
            @media (max-width:500px){
                margin: 0px;
                margin-left: 20px;
            }
        }
    }
}
// contact us page
.contact-container{
    max-width: 1006px;
    width: $sizewid;
    margin: 0 auto;
    margin-top: 147px;
    .contact-title{
        width: $sizewid;
        text-align: center;
        @include font($fontpop,bold,20px,$black);
    }
    .contact-wrapper{
        width: $sizewid;
        margin-top: 65px;
        height: 532px;
        @media (max-width:810px) {
            height: auto;
        }
    }
}
.contact-wrapper{
    .form-wrapper{
        width: $sizewid;
        height: $sizewid;
        @extend %d-flex-for-contact;
        @media (max-width:810px) {
            justify-content: center;
            padding-inline: 20px;
        }
        .input-wrapper{
            max-width: 404px;
            width: $sizewid;
            height: 64px;
            border: 1px solid $lightgrey;
            border-radius: 6px;
            padding-left: 15px;
            margin-bottom: 48px;
            @include font($fontpop,normal,19px,$grey);
            &::placeholder{
                @include font($fontpop,normal,19px,$grey);
            }
        }
        .textarea{
            width: $sizewid;
            height: 147px;
            resize: none;
            border: 1px solid $lightgrey;
            border-radius: 6px;
            padding-left: 15px;
            @include font($fontpop,normal,19px,$grey);
            &::placeholder{
                @include font($fontpop,normal,19px,$grey)
            }    
        }
        .button-wrapper{
            width: $sizewid;
            @include d-flex(flex,center,center);
            margin-top: 79px;
            .button{
                width: 203px;
                height: 63px;
                border-radius: 31px;
                background-color: $violet;
                border: none;
                @include font($fontpop,bold,20px,$white);
                cursor: pointer;
            }
        }    
    }
}
// footer
footer{
    background-color: $lightblue;
    margin-top: 74px;
    padding-top: 117px;
    .footer-container{
        @extend %contwidth;
        height: 352px;
        @include d-flex-full (flex,space-between,center,wrap,row);
        @media (max-width:1044px) {
            height: auto;
        }
    }
    .footer-container-copy{
        width: $sizewid;
        height: 82px;
        background-color: $blue;
        margin-top: 112px;
        @include d-flex(flex,center,center);
        h3{
            @include font($fontpop,600,20px,$black);
        }
    }
}
.footer-container{
    .footer-left-block{
        max-width: 412px;
        width: $sizewid;
        height: $sizewid;
        padding-bottom: 35px;
        @include d-flex-full(flex,space-between,space-between,wrap,column);
    }
    .footer-right-block{
        max-width: 612px;
        width: $sizewid;
        height: $sizewid;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
.footer-left-block{
    .footer-description-block{
        .footer-logo{
            @include font($fontpop,bold,22px,$black);
        }
        .footer-description{
            @include font($fontpop,normal,15px,$black);
            line-height: 18px;
            margin-top: 12px;
        }
    }
    .footer-contact-block{
        height: 136px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .address-box{
            @include font ($fontpop,normal,15px,$black);
        }
        .footer-contact-box{
            display: flex;
            flex-direction: column;
            a{
                @include font ($fontpop,600,15px,$black);
                &:nth-child(1)::after{
                    content: " ";
                    display: block;
                    width: 134px;
                    height: 1px;
                    background-color: $black;
                    margin: 3px 0px;
                }
            }
        }
        .footer-icons{
            width: 148px;
            height: 29px;
            @include d-flex(flex,space-between,center);
        }
    }
}
.footer-right-block{
    .email-block{
        h3{
            @include font($fontpop,bold,22px,$black);
            margin-left: 10px;
        }
        form{
            .email-form-wrapper{
                max-width: 602px;
                width: $sizewid;
                height: 46px;
                border: 1px solid $lightgrey;
                border-radius: 5px;
                margin-top: 15px;
                position: relative;
                .email-input{
                    position: absolute;
                    width: $sizewid;
                    height: $sizewid;
                    border: none;
                    border-radius: 5px;
                    padding-left: 22.5px;
                    @include font($fontpop,normal,15px,$grey);
                    &::placeholder{
                        @include font($fontpop,normal,15px,$grey);
                    }
                }
                .email-btn{
                    position: absolute;
                    top: 10px;
                    right: 21px;
                    z-index: 2;
                    border: none;
                    background-color: inherit;
                    @include font($fontpop,600,17px,$black);
                    cursor: pointer;
                }
            }
        }

    }
}
.footer-right-block{
    .list-block{
        width: $sizewid;
        height: 181px;
        padding-right: 10px;
        @extend %d-flex-for-avone;
        @media (max-width:1044px) {
            height: auto;
            margin-top: 30px;
            align-items: space-between;
        }
        .list-box{
            h3{
                @include font($fontpop,600,22px,$black);
                margin-bottom: 25px;
            }
            ul{
                height: 125px;
                @extend %d-flex-for-ul;
                @media (max-width:390px) {
                    padding: 20px;
                }
                li{
                    @include font($fontpop,normal,15px,$black);
                }
            }
        }
    }
}
