// fonts
$fontpop: 'Poppins';


// colors
$darkblack: #000000;
$black: #22262A;
$white: #FFFFFF;
$lightwhite: #FAFAFA;
$lightblack: #373737;
$red: #CF2929;
$grey: #939393;
$lightgrey: #E8E8E8;
$violet: #B57AD2;
$lightblue: #F2F8FC;
$blue: #E7F5F8;

// sizes
$sizemax:1148px;
$sizewid:100%;
$headmax:1059px;

// responsive sizes
$mobile: 768px;
$tablet:1024px;